@import "normalize.styl"
@import "nib"
@import "fonts.styl"

gris_oscuro = #333
gris_claro  = #818181
fucsia      = #bd2558
gris_ligero = #f0f0f0

// mixins
animacion(val) // use with: animacion(1s state infinite)
  -webkit-animation val
  -moz-animation val
  -o-animation val
  -ms-animation val
  animation val


body
  font-size 16px // el minimo tamaño recomendado
  font-family 'Varela Round', sans-serif // sacado de google.com/fonts

figure
  margin 0
img
  vertical-align top // arregla el espacio extra inferior q ocupa la imagen
a
  text-decoration none
ul
  margin 0
  padding 0
li
  list-style none

// oocss classes
.relative
  position relative
.border-bottom
  border-bottom 1px solid gris_claro
.center-block
  margin 0 auto // solo funciona si tiene un ancho determinado
.center-text
  text-align center
.padding
  padding 1em
.right-text
  text-align right
.left
  float left
.right
  float right
.round
  border-radius 50%
  overflow hidden
.wrap
  width 1000px

// Menu
.menu
  display none

.header // este es el padre relativo
  height 3.5em
  
  .title
    font-size 1.1em
    text-align center
    margin 0
    line-height 3.5rem

.button-menu
  position absolute // posicion respecto al padre con posicion relativa
  top 50% // funciona solo con position
  left 1.5em // funciona solo con position
  margin-top -10px
  color gris_oscuro

// Songs
.container
  margin 1.4rem // debe ser rem y no em por causa de su propio font-size
  font-size 0 // para quitar el espacio del inlineblock hijo
  text-align center

.song
  width 8rem // 128px
  margin-right 1em
  margin-bottom 1em
  text-align left
  display inline-block // tiene propiedades de texto
  font-size 1rem // para recuperar el tamaño del texto
  &:nth-child(even)
    margin-right 0
  p
    margin .5em 0

.name
  color gris_oscuro

.author
  color gris_claro


// Playing
.playing
  &.small
    width 20rem // 320px

.actions
  position absolute
  bottom 0 // solo funciona con un position
  left 0 // solo funciona con un position
  right 0 // solo funciona con un position
  background rgba(#000,.3)

// icon buttons
.action
  color white
  font-size 1.2em
  margin-right .8rem
  &:last-child
    margin-right 0
  &.gray
    color gris_claro
.progress
  margin 1em 0
  position relative
  .min
  .max
    font-size .8rem
    top -5px
    position absolute
  .min
    left 0
  .max
    right 0
  .total
    height 5px
    width 75%
    margin 0 auto
    background gris_claro
    border-radius 5px
    .state
      height 5px
      background fucsia
      width 30%
      border-radius 5px
      position relative
      // animaciones
      animation 20s state infinite linear // linear es para la aceleracion lineal
      .circle
        width 10px
        height 10px
        background gris_oscuro
        border-radius 50%
        position absolute
        right 0
        top -2px
        // animaciones
        animation 20s circle infinite
//.description
//  margin-bottom 1em

.play
  padding-top 1em

// hidden
.playlist
  display none
.logo
  display none

// playlist
.playlist
  width 22em
  padding 0 2em
  border-left 1px solid gris_claro
  .item
    padding 1em 0
  .action
    font-size .875rem

// LOGO
.logo
  background  white
  padding 1.3em 0
  overflow hidden // esta propiedad se usa cuando los hijos usan float, para q el modelo de cajas no se rompa
  
.isotipo
  //width 122px
  width 60px

.user
  margin-left 2em
  .avatar
    background red
    width 38px
    height 38px
  .username
    color gris_claro
    position relative
    top 9px
    margin-left .5em
    // seudoelemento
    &:after
      content "" // es necesario para que el pseudoelemento se muestre en la pantalla
      border-top 9px solid gris_claro
      border-left 7px solid transparent
      border-right 7px solid transparent
      display inline-block // necesita el display si o si
      margin-left .5em
.search
  input
    border 1px solid gris_claro
    height 2.5em
    border-radius 5px
    padding 0 1em 0 2em
  .search-icon
    position absolute
    top .7em
    left .5em
    color gris_claro
  .close-icon
    position absolute
    top .45em
    right .5em
    color gris_claro
    font-size 1.2em

// Media Queries
@media screen and (min-width: 480px)
  .song
    &:nth-child(even)
      margin-right 1em
  .playing
    &.medium
      width auto
  .image
    img
      width 100%
      height auto
  .isotipo
    width 60px

@media screen and (min-width: 1000px)
  body
    background gris_ligero

  .button-menu
    display none
  .header
    height auto
    border none
    .title
      display none
    .menu
      border-top 1px solid gris_claro
  
  .logo
    display block
  
  .menu
    display block
    overflow hidden // esta propiedad se usa cuando los hijos usan float, para q el modelo de cajas no se rompa
    .item
      float left
      a
        color gris_oscuro
        text-transform uppercase
        cursor pointer
        padding 1em
        display block // para que se aplique el padding
        border-top 5px solid transparent
        // transiciones
        transition .3s border-top // serecomienda 300 mls
        &:hover
          border-top 5px solid gris_claro
  
  .playing
    padding-top 1.3em
    &.large
      width 62.5em
      margin 0 auto
      overflow hidden
    
  .music
    width 32.5em
    float left
    .description
      display none
  
  .playlist
    display block


// animaciones
@keyframes state
  0% // tambien se puede usar from
    width 0%
  100% // tambien se puede usar to
    width 100%
@keyframes circle
  0% // tambien se puede usar from
    transform scale(1)
  99%
    opacity 1
  100% // tambien se puede usar to
    transform scale(2)
    opacity 0